:root {
  --darkestBlue: #020659;
  --darkerBlue: #020873;
  --darkBlue: #030A83;
  --brightBlue: #2104D9;
  --lightBlue: #0D8DF8;
  --lightBlueAlt: #2699FB;
  --magenta: #590242;
  --white: #FFF;
  --black: #000;

  --fonts: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
  font-size: 1.25em;
}

h2, h3 {
  font-size: 1em;
  color: var(--magenta);
  margin: 20px 20px 5px;

}

h1, h2, h3 {
  line-height: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

p, dl, dd {
  font-size: 1em;
}

footer p {
  font-size: 0.75em;
}

html {
  font-family: var(--fonts);
  background-color: var(--darkestBlue);
}

body {
  height: 100vh;
  max-width: 375px;
  margin: 0 auto;
  color: var(--white);
  display: grid;
  grid-template-rows: 1fr 4fr 0.5fr;
}

@media screen and (min-width:834px) {
  body {
    max-width: 834px;
  }
}

header {
  background-image: linear-gradient(to right, var(--brightBlue), var(--black));
  display: grid;
  grid-template-columns: 1fr;
}

header div {
  padding-left: 20px;;
}

nav {
  width: 375px;
  grid-row: 1/2;
  background-color: var(--darkBlue);
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  width: 100%;
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

#title {
  z-index: 1;
  text-transform: unset;
  font-variant: small-caps;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 2em;
  width: 375px;
}

nav img {
  width: 34px;
  height: 34px;
}

nav ul li:hover {
  background-color: var(--magenta);
}


ul {
  overflow: hidden;
  max-height: 0;
  transition: max-height .2s ease-out;
}
label {
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
label span {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
  width: 18px;
}
label span:before, label span:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
label span:before {
  top: 5px;
}
label span:after {
  top: -5px;
}
input {
  display: none;
}
input:checked ~ ul {
  max-height: 500px;
}
input:checked ~ label span {
  background: transparent;
}
input:checked ~ label span:before {
  transform: rotate(-45deg);
}
input:checked ~ label span:after {
  transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
  top: 0;
}

@media screen and (min-width:834px) {
  nav, ul {
    width: 834px;
  }

  ul {
      overflow: visible;
      position: absolute;
      top: 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      justify-items: end;
  }

  nav ul li {
    width: 100px;
  }

  label span, input {
      display: none;
  }

  #title {
    position: unset;
    width: 250px;
  }

}

main {
  width: 375px;
  background-color: var(--white);
}


@media screen and (min-width:834px) {
  main {
    width: 834px;
  }
}

#trending {
  color: var(--magenta);
}

#trending h2 {
  margin: 20px 20px 5px;
}
.scroll{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll section {
  margin: 10px;
  position: relative;
}

.scroll div {
  position: absolute;
  top: 251px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  height: 50px;
  width: 350px;
}

.scroll div h3 {
  display: unset;
}

dl {
  display: flex;
  margin: 0;
}
dt {
  padding-right: 5px;
}

dd {
  margin: 0 10px;
}

audio {
  position: absolute;
  bottom: 150px;
  left: 5px;
}

.more {
  text-decoration: none;
  background-color: var(--magenta);
  color: var(--white);
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  display: block;
  text-align: center;
  margin: 10px 0 30px 32px;
}


audio ::-webkit-media-controls-mute-button {
  background-color: var(--white);
  border-radius: 50%;
}
audio ::-webkit-media-controls-play-button {
  background-color: var(--white);
  border-radius: 50%;
}
audio ::-webkit-media-controls-enclosure {
  background-color: rgba(255, 255, 255, 0.75);
}  

#trending ::-webkit-scrollbar {
  width: 15px;
}
#trending ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px var(--magenta);
}
#trending ::-webkit-scrollbar-thumb {
  background: var(--magenta);
  border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
  background: var(--darkestBlue);
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
  width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
  box-shadow: inset 0 0 15px var(--darkestBlue);
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
  background: var(--darkestBlue);
  border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
  background: var(--white);

}

#playlists div {
  background-color: var(--lightBlueAlt);
}

#playlists section {
  background-color: var(--lightBlue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 167px;
  padding: 10px;
}

#playlists section h3 {
  color: var(--white);
  line-height: normal;
}


.condense h3 {
  color: var(--white);
  }

#curated div {
  background-color: var(--brightBlue);
  }
  
  #curated section {
    background-color: var(--darkBlue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 167px;
  padding: 10px;
  
}

footer {
  background-color: var(--white);
  text-align: center;
  color: var(--magenta);
}

@media screen and (min-width:834px) {
  .more {
    margin-left: 80%;
  }
  .condense {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .condense .scroll {
    grid-template-columns: 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
  }

  .condense button {
    margin-left: 60%;
  }

  #curated section, #playlists section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: unset;
    align-items: center;
    justify-items: center;
    height: 150px;
    gap: 0 1em;
  }

  #curated section img, #playlists section img {
    grid-row: 1/3;
  }
}